@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
}
main {
  padding: 45px 0;
}
.container {
  max-width: 900px;
  padding: 0 45px;
  margin: 0 auto;
}
.h1 {
  font-style: normal;
  font-weight: bold;
  color: #fff;
  &--desktop {
    font-size: 31px;
    line-height: 1.4;
  }
  &--mobile {
    display: none;
    font-size: 20px;
    line-height: 1.3;
  }
}
.header {
  padding-top: 45px;
  background-color: #284622;
  min-height: 214px;
  &__inner {
    display: flex;
  }
  &__image {
    flex: 0 1 30%;
    // display: flex;
    // // justify-content: center;
    align-self: flex-end;

    &--desktop {
      & img {
        max-width: 100%;
        object-fit: cover;
        margin-bottom: -25px;
      }
    }
    &--mobile {
      display: none;
    }
  }
  &__content {
    flex: 0 2 70%;
  }
}
.content {
  &__text--desktop {
  }
  &__text--mobile {
    display: none;
  }
}

.buttons {
  &--desktop {
    
  }
  &--mobile {
    display: block;
  }
}
.buttons {
  margin: 0 0 60px 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &--desktop {
    & .button + .link {
      margin-left: 60px;
    }
  }
  &--mobile {
    display: none;
  }
}

.button {
  background: #ff4c00;
  box-shadow: 5px 6px 22px rgba(204, 61, 0, 0.24);
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 14px 35px;
  font-weight: bold;
  font-size: 16px;
}
.link {
  padding: 20px 0;
  font-weight: bold;
  text-decoration-line: underline;
  color: #ff4c00;
}
.content {
  margin-bottom: 40px;
}
.text {
  line-height: 1.3;
}

.two-col {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left-content {
    flex: 0 0 60%;
  }
}

.some-list {
  &__item {
    list-style: none;
    margin-bottom: 25px;
  }
  &__item-caption {
    font-size: 13px;
    line-height: 1.3;
    color: #7e7e7e;
    margin-bottom: 5px;
  }
  &__item-content {
    font-weight: bold;
    // font-size: 16px;
    // line-height: 130%;
    color: #031143;
  }
  &__img-field {
    display: grid;
    grid-template-columns: repeat(4, 54px);
    grid-auto-rows: 25px;
    column-gap: 20px;
    row-gap: 8px;
  }
}
.col-mobile {
  display: none;
}

.img-rect {
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
  border-radius: 2px;
}

@import "mobile";
